.seller-drugs-page{

    .container{

        .form-container{

            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        .medicine-table{
            overflow-x: scroll;
        }
    }
}